<div class="site-header-fixture">
    <div class="site-header-ghost">
        <div class="site-center">
            <div class="tags sitemenutags">
                <div class="cell">
                    <ul class="nav blocks">
                        <li class=""><a href="https://github.com/jslegers/cascadeframework/archive/master.zip" class="">Download v1.6</a></li>
                    </ul>
                </div>
            </div>
            <div class="col width-fill sitemenu">
                <div class="col width-fill mobile-width-fill">
                    <div class="cell">
                        <ul class="nav ">
                            <li><a href="grid.html">Grid</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="components.html">Components</a></li>
                            <li><a href="templates.html">Templates</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sitemenu-responsive col collapsible collapsed">
            <div class="col collapse-trigger">
                <div class="cell">
                    <ul class="nav ">
                        <li><a href="#"><span class="icon icon-32 icon-align-justify"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="left collapse-section">
                    <div class="cell">
                        <ul class="nav">
                            <li><a href="grid.html">Grid</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="components.html">Components</a></li>
                            <li><a href="templates.html">Templates</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-header">
        <div class="site-center">
            <div class="tags sitemenutags">
                <div class="cell">
                    <ul class="nav blocks">
                        <li class=""><a href="https://github.com/jslegers/cascadeframework/archive/master.zip" class="">Download v1.6</a></li>
                    </ul>
                </div>
            </div>
            <div class="col width-fill sitemenu">
                <div class="col width-fill mobile-width-fill">
                    <div class="cell">
                        <ul class="nav ">
                            <li><a href="grid.html">Grid</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="components.html">Components</a></li>
                            <li><a href="templates.html">Templates</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sitemenu-responsive col collapsible collapsed">
                <div class="col collapse-trigger">
                    <div class="cell">
                        <ul class="nav ">
                            <li><a href="#"><span class="icon icon-32 icon-align-justify"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="left collapse-section">
                        <div class="cell">
                            <ul class="nav">
                                <li><a href="grid.html">Grid</a></li>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="components.html">Components</a></li>
                                <li><a href="templates.html">Templates</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
