{% include 'core/fluid/doctype.html.twig' %}
{% include 'core/fluid/header.html.twig' %}

<div class="masthead">
    <div class="site-center">
        <div class="cell">
            <div class="col width-fit">
                <div class="cell">
                    <div class="logo-masthead"></div>
                </div>
            </div>
            <div class="col width-fill">
                <div class="cell">
                    <div class="center slogan">
                        <div class="cell">
                            {{ site.title }}
                            <div class="sub">Sub Title</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-center">
    <div class="cell">
        <ul class="nav">
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=tnware&repo=grav-theme-cascade&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="105" height="20"></iframe>
            </li>
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=tnware&repo=grav-theme-cascade&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102" height="20"></iframe>
            </li>
            <li class="tweet-btn phone-hidden">
                <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.1375828408.html#_=1376404443762&count=horizontal&hashtags=css&id=twitter-widget-0&lang=en&original_referer=file%3A%2F%2F%2FE%3A%2Fjohnslegers.com%2FcascadePHP%2Fcascade-final%2Findex.html&size=m&text=Cascade%20Framework%20-%20Putting%20back%20the%20C%20in%20CSS&url=http%3A%2F%2Fcascade-framework.com%2F&via=cascadecss" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 102px; height: 20px;"></iframe>
            </li>
            <li class="follow-btn">
                <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/follow_button.1375828408.html#_=1376403988074&id=twitter-widget-0&lang=en&screen_name=cascadecss&show_count=true&show_screen_name=true&size=m" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 235px; height: 20px;"></iframe>
            </li>
        </ul>
    </div>
</div>
<div class="site-body">
    <div class="site-center highlights">
        <div class="col width-1of4">
            <div class="cell">
                <h2><span class="center icon icon-check icon-64"></span>Feature Rich</h2>
                <p>
                    Semantic and non-semantic grid layouts, base templates, table designs, navigation elements, typography and lots, lots more.
                </p>
            </div>
        </div>
        <div class="col width-1of4">
            <div class="cell">
                <h2><span class="center icon icon-globe icon-64"></span>Universal</h2>
                <p>
                    Build high performance websites in no time for old browers and new browsers alike without worrying about browser quirks.
                </p>
            </div>
        </div>
        <div class="col width-1of4">
            <div class="cell">
                <h2><span class="center icon icon-beaker icon-64"></span>Atomic</h2>
                <p>
                    An optimised atomic design gives you full control of the look and feel of your site while keeping code bloat minimal.
                </p>
            </div>
        </div>
        <div class="col width-fill">
            <div class="cell">
                <h2><span class="center icon icon-cogs icon-64"></span>Modular</h2>
                <p>
                    Don't need certain features? Don't include them. Unlike other frameworks, you can include only the components you need.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="site-body">
    <div class="site-center">
        <div class="col">
            <div class="cell">

{% block content %} {{ page.content }} {% endblock %}

            </div>
        </div>
        <div class="col">
            <div class="cell">
                <h2>Gallery</h2>
                <p>Want to see real world projects that use Cascade Framework? Check out the showcase below.</p>
            </div>
        </div>
        <div class="col">
            <div class="cell panel">
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="gallery cell">
                                <ul class="nav">
                                    <li><a href="http://pensiontheker.werksite.be/" target="_blank"><img src="assets/img/showcase/pensiontheker.png"></a></li>
                                    <li><a href="http://dyvy.com/" target="_blank"><img src="assets/img/showcase/dyvy.png"></a></li>
                                    <li><a href="http://legalhill.com/" target="_blank"><img src="assets/img/showcase/legalhill.png"></a></li>
                                    <li><a href="http://www.mijnhart-acs.be/" target="_blank"><img src="assets/img/showcase/mijnhart.png"></a></li>
                                    <li><a href="http://streetwize.werksite.be/" target="_blank"><img src="assets/img/showcase/streetwize.png"></a></li>
                                    <li><a href="http://forum-actif-support.herokuapp.com/" target="_blank"><img src="assets/img/showcase/heroku.png"></a></li>
                                    <li><a href="http://www.projekty-stajni.pl/" target="_blank"><img src="assets/img/showcase/projekty-stajni.png"></a></li>
                                    <li><a href="http://www.entfly.com/" target="_blank"><img src="assets/img/showcase/entfly.png"></a></li>
                                    <li><a href="http://www.hdbjs.com.cn/Home" target="_blank"><img src="assets/img/showcase/schools-beijing.png"></a></li>
                                    <li><a href="http://zcgl.agri.gov.cn/" target="_blank"><img src="assets/img/showcase/agri-gov.png"></a></li>
                                    <li><a href="http://www.casacorazon.us/" target="_blank"><img src="assets/img/showcase/casacorazon.png"></a></li>
                                    <li><a href="http://www.hiroshima.med.or.jp/kodomo/" target="_blank"><img src="assets/img/showcase/kodomo.png"></a></li>
                                    <li><a href="http://www.xcessbuy.com/" target="_blank"><img src="assets/img/showcase/xcessbuy.png"></a></li>
                                    <li><a href="http://www.johnslegers.com/lead-dashboard/keyword:cascade%20framework,%20google%20adwords,%20application/currency:US%20Dollars" target="_blank"><img src="assets/img/showcase/db.png"></a></li>
                                    <li><a href="http://www.johnslegers.com/map/" target="_blank"><img src="assets/img/showcase/map.png"></a></li>
                                    <li><a href="http://erik.responsive.sk/" target="_blank"><img src="assets/img/showcase/paldan.png"></a></li>
                                    <li><a href="http://www.cossim.com/" target="_blank"><img src="assets/img/showcase/cossim.png"></a></li>
                                    <li><a href="http://www.johnslegers.com/gravatar/" target="_blank"><img src="assets/img/showcase/gravatar.png"></a></li>
                                    <li><a href="http://www.ciooffice.se/ea/ea-navigation/ea-navigation.htm" target="_blank"><img src="assets/img/showcase/ciooffice.png"></a></li>
                                    <li><a href="http://towan.sakura.ne.jp/towan_kanko/index.php" target="_blank"><img src="assets/img/showcase/towan.png"></a></li>
                                    <li><a href="http://grandale.org/" target="_blank"><img src="assets/img/showcase/grandale.png"></a></li>
                                    <li><a href="http://www.seasure.co.uk/" target="_blank"><img src="assets/img/showcase/seasure.png"></a></li>
                                    <li><a href="http://www.marcushurley.com/" target="_blank"><img src="assets/img/showcase/huxley.png"></a></li>
                                    <li><a href="http://www.johnslegers.com/contact" target="_blank"><img src="assets/img/showcase/clickme.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'core/footer.html.twig' %}
