{% include 'core/fluid/doctype.html.twig' %}
{% include 'core/fluid/header.html.twig' %}

<div class="masthead">
    <div class="site-center">
        <div class="cell">
            <div class="col width-fill">
                <div class="cell">
                    <div class="center slogan">
                        <div class="cell">
                            {{ site.title }}
                            <div class="sub">
                                <ul class="nav">
                                    <li>
                                        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=tnware&repo=grav-theme-cascade&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="105" height="20"></iframe>
                                    </li>
                                    <li>
                                        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=tnware&repo=grav-theme-cascade&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102" height="20"></iframe>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-center">
    <div class="cell">
      {% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}
    </div>
</div>

<div class="site-body">
    <div class="site-center">
        <div class="col">
            <div class="cell">

{% block content %} {{ page.content }} {% endblock %}

            </div>
        </div>
    </div>
</div>

{% include 'core/footer.html.twig' %}
