{% include 'core/doctype.html.twig' %}
{% include 'core/header.html.twig' %}

<div class="body">
  <div class="cell">
      <div class="col">
            <div class="cell">
{% block content %} {{ page.content }} {% endblock %}
            </div>
      </div>
  </div>
</div>

{% include 'core/footer.html.twig' %}
