{% include 'core/fluid/doctype.html.twig' %}
{% include 'core/fluid/header.html.twig' %}

<div class="masthead">
    <div class="site-center">
        <div class="cell">
            <div class="col width-fill">
                <div class="cell">
                    <div class="center slogan">
                        <div class="cell">
                            {{ site.title }}
                            <div class="sub">Sub Title</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-center">
    <div class="cell">
        <ul class="nav">
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=tnware&repo=grav-theme-cascade&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="105" height="20"></iframe>
            </li>
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=tnware&repo=grav-theme-cascade&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102" height="20"></iframe>
            </li>
            <li class="tweet-btn phone-hidden">
                <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.1375828408.html#_=1376404443762&count=horizontal&hashtags=css&id=twitter-widget-0&lang=en&original_referer=file%3A%2F%2F%2FE%3A%2Fjohnslegers.com%2FcascadePHP%2Fcascade-final%2Findex.html&size=m&text=Cascade%20Framework%20-%20Putting%20back%20the%20C%20in%20CSS&url=http%3A%2F%2Fcascade-framework.com%2F&via=cascadecss" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 102px; height: 20px;"></iframe>
            </li>
            <li class="follow-btn">
                <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/follow_button.1375828408.html#_=1376403988074&id=twitter-widget-0&lang=en&screen_name=cascadecss&show_count=true&show_screen_name=true&size=m" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 235px; height: 20px;"></iframe>
            </li>
        </ul>
    </div>
</div>

<div class="site-body">
    <div class="site-center">
        <div class="col">
            <div class="cell">

{% block content %} {{ page.content }} {% endblock %}

            </div>
        </div>
    </div>
</div>

{% include 'core/footer.html.twig' %}
