{% include 'partials/core/doctype.html.twig' %}

{% include 'partials/core/header.html.twig' %}

        <div class="body">
            <div class="cell">
              {% block content %}{% endblock %}
            </div>
        </div>
{% include 'partials/core/footer.html.twig' %}
