<div class="col">
                                <div class="cell panel">
                                    <div class="body">
                                        <div class="cell">
                                            <div class="col">
                                                <div class="cell">
                                                    <header class="pageheader">
                                                        <section>
                                                            <div class="cell">
                                                                <h2>Basic blog layout</h2>
                                                            </div>
                                                        </section>
                                                    </header>
                                                    <aside class="sidebar">
                                                        <div class="cell">
                                                            <nav class="menu">
                                                                <ul class="left links nav">
                                                                    <li class="active"><a href="#">Blog</a></li>
                                                                    <li><a href="#">Resources</a></li>
                                                                    <li><a href="#">About</a></li>
                                                                </ul>
                                                            </nav>
                                                        </div>
                                                    </aside>


<div class="col width-1of4">
                <div class="cell menu">
                    <span class="tiny">Test test</span>
                    <ul class="left nav links">
                        <li class="active"><a href="#">Item one</a></li>
                        <li><a href="#">Item two</a></li>
                        <li><a href="#">Item three</a></li>
                        <li><a href="#">Item four</a></li>
                        <li><a href="#">Item five</a></li>
                    </ul>
                </div>
            </div>
