<div class="footer">
               <div class="col width-fill background-black">
                   <div class="cell pipes">
                   <div class="col width-1of3">
                  <p class="centered"><strong>Cascade</strong> CSS Theme for <a href="http://getgrav.org">GravCMS</a> by <a href="http://tnware.net">Tyler Woods</a>.</p>
                  </div>
                  <div class="col width-fill mobile-width-fill">
                       <ul class="nav">
                       {% for page in pages.children %}
                       {% if page.visible %}
                       {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                       <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
                       {% endif %}
                       {% endfor %}
                       </ul>
                   </div>
                  </div>
               </div>
               </div>
    </div>
</div>
