<div class="site-footer background-black">
    <div class="cell">
    <div class="pipes">
        <ul class="nav">
        {% for page in pages.children %}
        {% if page.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a> |</li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
        <p class="note">Cascade Theme for <a href="#">Grav</a> by <a href="#">Tyler Woods</a> based on the <a href="#">Cascade CSS Framework</a></p><br>
        <a href="https://github.com/tnware/grav-theme-cascade"><span class="icon icon-32 icon-github"></span></a>
            <div class="col width-fit mobile-width-fit">
            <p><span class="icon icon-16 icon-double-angle-right"></span>  &#169; 2016, <a href="http://www.tnware.net/"><strong>Tyler Woods</strong></a></p>
            </div>

    </div>
</div>
<!--Closing two <div> tags below were originally opened in the header core element.-->
        </div>
</div>
   {% block bottom %}{% endblock %}
</body> <!--Closing <body> tag resides in the footer core element because the footer is still within the body of the HTML code.-->
</html>
