{% include 'partials/core/doctype.html.twig' %}

{% include 'partials/core/header.html.twig' %}

                <div class="col"><!--- MAIN COLUMN ---->
                    <div class="cell"><!--- begin main container ---->
                        <div class="col"><!--- page header ---->
                            <div class="cell">
                                <div class="page-header">
                                    <h1>{{ header.title }}<small>&nbsp;&nbsp;put breadcrumbs here</small></h1>
                                </div>
                            </div>
                        </div><!--- end page header ---->
                        <div class="col">
                            <div class="cell panel">
                                <div class="body">
                                    <div class="cell">
                                        <div class="col">
                                            <div class="cell">
                          {% block content %}{% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--- ending from header (put in nav?)---->
                </div><!--- ending from  header (put in nav?)---->
            <!--- footer ---->
{% include 'partials/core/footer.html.twig' %}
