{% include 'partials/core/doctype.html.twig' %}

{% include 'partials/core/header.html.twig' %}

                <div class="col">
                    <div class="cell">
                        <div class="col">
                            <div class="cell">
                                <div class="page-header">
                                    <h1>{{ header.title }}</h1><br>
                                    {% if config.plugins.breadcrumbs.enabled %}
                                    {% include 'partials/breadcrumbs.html.twig' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="cell panel">
                                <div class="body">
                                    <div class="cell">
                                        <div class="col">
                                            <div class="cell">
                          {% block content %}{% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% include 'partials/core/footer.html.twig' %}
