</div>                <!--- opening div is pre-navigation ---->
<div class="site-footer">
    <div class="cell">
        <div id="sociallogos">
            <a href="https://twitter.com/cascadecss"><span class="icon icon-32 icon-twitter"></span></a>
            <a href="http://www.facebook.com/cascadeframework"><span class="icon icon-32 icon-facebook-sign"></span></a>
            <a href="https://github.com/CascadeFramework"><span class="icon icon-32 icon-github"></span></a>
            <div class="col">
                &#169; 2013, <a href="http://www.johnslegers.com/">John Slegers</a>
            </div>
        </div>
        <a href="http://www.cascade-framework.com/" class="powered-by"></a>
    </div>
</div>
<!--- end footer ---->
</div>                 <!--- first div container ending here, pre nav ---->
<script src="assets/js/app.js"></script>
</body>
</html>
<!--- so end the footer template here to save yourself code ---->
