<div class="cell">
    <div class="page-header">
        <h1>{{ header.title }}</h1><br>
        {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}
    </div>
</div>
