{% include 'partials/core/doctype.html.twig' %}

{% include 'partials/core/header.html.twig' %}

                <div class="col"><!--- MAIN COLUMN ---->
                    <div class="cell"><!--- begin main container ---->
                        <div class="col"><!--- page header ---->
                            <div class="cell">
                                <div class="page-header">
                                    <h1>{{ header.title }}<small>&nbsp;&nbsp;put breadcrumbs here</small></h1>
                                </div>
                            </div>
                        </div><!--- end page header ---->
                        <!--- begin writing content to display ---->
{% block content %}{% endblock %}
                        <!--- end rendering content to display ---->
                    </div><!--- ending from header (put in nav?)---->
                </div><!--- ending from  header (put in nav?)---->
            <!--- footer ---->
{% include 'partials/core/footer.html.twig' %}
