</div>
<div class="site-footer background-black">
    <div class="cell">

            <div class="col width-fit mobile-width-fit">
            <p><span class="icon icon-16 icon-double-angle-right"></span>  &#169; 2016, <a href="http://www.tnware.net/"><strong>Tyler Woods</strong></a></p>
            </div>
            
    </div>
</div>
<!--- end footer ---->
</div>                 <!--- first div container ending here, pre nav ---->
<script src="assets/js/app.js"></script>
</body>
</html>
<!--- so end the footer template here to save yourself code ---->
